@use './components/successful';
@use './components/login';
@use './components/dashboard';
@use './components/modal';

body {
    position: relative;
    margin: auto;
    max-width: 1200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

