@use '../global' as*;

.dash-container {
    width: 1200px;
    max-height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    padding: 50px;
    background-color: $label-color ;
    box-shadow: 5px 10px 30px $shadow-color;
    border-radius: 20px;

    .logoutButton {
        position: absolute;
        top: 3%;
        right: 0;
        width: 120px;
        padding: 10px;
        height: 40px;
        margin: 10px auto;
        justify-content: center;
        display: block;
        color: $label-color;
        background: $button-background;
        font-size: 1em;
        font-weight: bold;
        margin-top: 30px;
        outline: none;
        border: none;
        border-radius: 20px;
        transition: .2s ease-in;
        cursor: pointer;

        &:hover {
            background: $button-hover-background;
        }
    }


    h1 {
        color: $login-label-color;
        font-size: 40px;
    }

    h2 {
        color: $login-label-color;
        font-size: 25px;
        padding: 20px 0px;
    }

    .admin-container {
        h4 {
            color: $login-label-color;
            font-size: 25px;
            margin-bottom: 20px;
        }

        ul {
            li {
                list-style: none;

                .infoContent {
                    display: grid;
                    grid-template-columns: 15% 15% 30% 15% 15%;
                    gap: 2.5%;
                    margin: 15px 0px;
                    padding: 20px 20px 5px 20px;
                    border-top: .5px solid $input-background;

                    p {
                        display: flex;
                        align-items: center;
                    }

                    button {
                        width: 120px;
                        padding: 10px;
                        height: 40px;
                        margin: auto;
                        justify-content: center;
                        display: block;
                        color: $label-color;
                        background: $button-background;
                        font-size: 1em;
                        font-weight: bold;
                        border: none;
                        border-radius: 20px;
                        transition: .2s ease-in;
                        cursor: pointer;
                    }

                    #modify {
                        &:hover {
                            background: $button-hover-background-2;
                        }
                    }

                    #delete {
                        background-color: rgb(245, 97, 97);

                        &:hover {
                            background: rgb(253, 171, 171);
                        }
                    }

                }
            }
        }
    }

    .Infoemployee {
        margin: 20px 0px;

        p {
            margin: 10px 0px;
            font-size: 25px;
            color: $button-hover-background;
            font-weight: 500;

            label {
                color: $shadow-color !important;
            }
        }
    }
}