@use '../global' as*;


.success-notification {
    background-color: $login-background;
    color: $button-background;
    box-shadow: 5px 10px 30px $shadow-color;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    position: fixed;
    top: 20%;
    right: 40%;
    z-index: 1000;

    p {
        margin: 0;
    }

}