/* COLORS */

$background-color: red;
$shadow-color: #000;
$label-color: #fff;
$input-background: #e0dede;
$button-background: #573b8a;
$button-hover-background: #6d44b8;
$button-hover-background-2: #ba9feb;
$login-background: #eee;
$login-label-color: #573b8a;